<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Zeta Mu Points</title>
		<meta charset ='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE-Edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
		<link href='/static/css/style.css' rel='stylesheet'>
	</head>
	<body>
		{% block content %}

		{% endblock %}
		<script src='/bower_components/jquery/dist/jquery.min.js'></script>
		<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
		<script src='https://use.fontawesome.com/10b617d041.js'></script>
		{% block script %}
		{% endblock %}
	</body>
</html>
