{% extends "base.html" %}
{% block content %}

<div class='container-fluid text-xs-center heading'>
	<h1>Zeta Mu Points</h1>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-xs-12'>
			<div class='card'>
				<div class='card-block'>
					<h4 class='card-title text-xs-center'>Help</h4>

					<p id='grey-accent'>
						The points system is a way of keeping track of attendence and participation. It also recognizes
						individuals who hold positions. Different events are worth different amount of people. Some
						events are optional.
					</p>

					<p id='grey-accent'>
						Should you find a discrepency please contact the administrator of this application to resolve it.
					</p>

					<p>
						Want to help develop this application?
					</p>

					<p id='grey-accent'>
						It's open-source located <a href='https://github.com/sdmichelini/Points'>here.</a> Please feel free
						to contribute. Also if you find any issues, please use the <a href='https://github.com/sdmichelini/Points/issues'>Issue Tracker.</a>
					</p>
				</div>
			</div>
		</div>
	</div>


</div>

{% endblock %}
