{% extends "base.html" %}
{% block content %}

<div class='container-fluid text-xs-center heading'>
	<h1>Zeta Mu Points</h1>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-md-3 hidden-sm-down'>
			<div class='card'>
				<div class='card-block'>
					<h4 class='card-title text-xs-center'>Help</h4>
					<p id='grey-accent'>Need help with how the points system works?</p>
					<a href='#' class='card-link'>Get Help</a>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-md-9'>
			<div class='card'>
				<div class='card-block'>
					<h4 class='card-title text-xs-center'>Current Points</h4>

					<table class='table'>
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Points</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope='row'>1</th>
								<td>Stephen Michelini</td>
								<td>1124</td>
							</tr>
						</tbody>
									
				</div>
			</div>
		</div>
	</div>

		
</div>

{% endblock %}
