{% extends "base.html" %}
{% block content %}
<div class='container-fluid text-xs-center heading'>
	<h1><a href='/'>Zeta Mu Points</a></h1>
</div>
<h3>

</h3>
<div class='container'>
	<div class='card card-inset'>
		<h2 class='text-xs-center' id='grey-heading'>
			Points for  {{ email }}
		</h2>
		<ul class='list-group'>
			{% for user in result %}
			<li class="{{ user.color  }}">
			<b>{{ user.title }}</b>
			<h3 class='pull-xs-right'>{{ user.points  }}</h3>
			</li>
			{% endfor %}
		</ul>
	</div>
	<a href='/' class='text-xs-center'>Go Home</a>
</div>
{% endblock %}
